.sub-font {
  font: var(--sub-font);
  color: var(--red);
  text-align: center;
  margin-top: 72px;
}

.title-md {
  font: var(--title-md);
  color: var(--gray-600);
  text-align: center;
  margin-bottom: 56px;
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
  margin-top: 8px;
}

.sub-title {
  font: var(--sub-font);
  color: var(--gray-500);
  margin-top: 56px;
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
  margin-top: 20px;
  margin-bottom: 80px;
}

.tags {
  display: inline-flex;
  font: var(--text-md);
  color: var(--gray-500);
  text-align: center;
  margin-bottom: 94px;
}

.tag-card{
  background-color: var(--gray-300);
  border-radius: 999px;
  padding: 8px 16px; 
  margin-inline: 16px;
  img {
    vertical-align: bottom;
  }
}


.tags img {
width: 24px;
height: 24px;
}

