#avatar {
  border: 2px solid var(--red);
  border-radius: 999px;
  display:inline-block;
  width: 112px;
  height: 112px;
  background-image: url(../assets/imgs/avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#code {
  width: 32px;
  height: 32px;
  padding: 78px;
  color: var(--green);
}

#intro {
  padding: 163px 120px;
  text-align: center;
}

#projects {
  height: 917px;
  display: grid;
  justify-content: center;

  img{
    width: 306px;
    height: 156px;
    border-radius: 8px;
  }
}

#card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding: 12px 12px;
}

#card2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding: 12px 12px;
}


