.title-sm {
  font: var(--title-sm);
  color: var(--gray-600);
}

.content-tag {
  font: var(--title-sm);
  color: var(--gray-600);
}

.desc-text-sm {
  font: var(--text-sm);
  color: var(--gray-500);
}

.content-tag {
  color: var(--gray-300);
  border-radius: 12px;
}

.content-card {
  display: grid;
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
  border-radius: 12px;
  padding: 8px 16px; 
}

